<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--数据库连接配置-->

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>


    <!--<property name="hibernate.connection.url">database-url</property>
    <property name="hibernate.connection.username">usrrname</property>
    <property name="hibernate.connection.password">password</property>-->

    <!--云数据库配置-->
    <property name="hibernate.connection.url">jdbc:mysql://112.74.101.110:3306/stu?characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">A1a!1234567</property>

    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.format_sql">false</property>
    <property name="hibernate.hbm2ddl.auto">update</property>

    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <mapping resource="cn.edu.bistu/stu.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
